# Stop searching parent directories for more lombok.config files
config.stopBubbling = true

# Copy Spring annotations from fields onto generated accessor methods
# This enables patterns like placing @Value on a field and having it appear on the generated getter/setter.
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Autowired
